.owner-edit-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
}


.edit-validation-msg {
  text-align: center;
  font-size: 1.5rem;
  color: green;
  margin-bottom: 20px;
}



.edit-post-title-section {
  margin-bottom: 20px;
}

.edit-post-title-label {
  display: block;
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 5px;
}

.edit-post-title-input {
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}


.edit-images-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.main-image-banner {
  flex: 2;
  margin-right: 20px;
}

.main-image-label {
  display: block;
  margin-bottom: 5px;
}

.main-image-banner img {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
  border-radius: 5px;
}

.upload-section {
  display: flex;
  align-items: center;
}

.upload-main-image-input {
  display: none;
}


.upload-main-image-label {
  padding: 10px;
  background-color: #1E3A8A;
  color: white;
  border-radius: 20px;
  cursor: pointer;
}

.upload-main-image-label:hover {
  background-color: #0056b3;
}


.current-image-preview {
  flex: 1;
  text-align: center;
}

.current-image-preview p {
  margin-bottom: 10px;
}

.current-image-preview img {
  width: 100%;
  max-width: 500px;
  height: 226px;
  border-radius: 5px;
}

.edit-post-content-section {
  margin-bottom: 20px;
}

.edit-post-content-label {
  font-weight: 600;
  display: block;
  margin-bottom: 5px;
}

.edit-post-content-textarea {
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.edit-actions {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.delete-post-button,
.update-post-button {
  padding: 10px 20px;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  border-radius: 20px;
}



.update-post-button {
  background-color: #1E3A8A;
  color: white;
  float: left;
  border-radius: 20px;
}

.update-post-button:hover {
  background-color: #0056b3;
  padding: 10px 20px;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  border-radius: 20px;
}

.delete-post-button {
  background-color: #eb2a2a;
  color: white;
  float: right;
  border-radius: 20px;
}

.delete-post-button:hover {
  background-color: #0056b3;
  padding: 10px 20px;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  border-radius: 20px;
}


@media (max-width: 600px) {
  .edit-images-section {
    flex-direction: column;
  }

  .main-image-banner,
  .current-image-preview {
    margin-right: 0;
  }

  .current-image-preview {
    margin-top: 10px;
  }
}