.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 140px);
}

.login-container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
    box-sizing: border-box;
}

.login-container p {
    font-size: smaller;
    margin-bottom: 10px;
    color: black;
}

.login-title {
    font-size: 2rem;
    margin-bottom: 10px;
}

.login-subtitle {
    font-size: 1rem;
    margin-bottom: 20px;
    color: #555;
}

.input-field-container {
    position: relative;
    margin-bottom: 15px;
}

.input-field-container input {
    width: 100%;
    padding: 10px 40px;
    border: 1px solid #ccc;
    border-radius: 40px;
    font-size: 1rem;
}

.input-field-container input:focus {
    outline: none;
    border-color: #1e3a8a;
}

.input-icon {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 0.8rem;
    color: #888;
}


.error-message {
    color: red;
    font-size: 0.9rem;
    display: none;
    margin-bottom: 10px;
}

.login-button {
    width: 100%;
    padding: 10px;
    background-color: #1e3a8a;
    color: white;
    border: none;
    border-radius: 40px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login-button:hover {
    background-color: #007bff;
    color: white;
    border-radius: 40px;
    padding: 10px;
}

.register-prompt {
    margin-top: 15px;
}


/* Media Queries for Responsiveness */
@media (max-width: 600px) {
    .login-title {
        font-size: 1.5rem;
    }

    .login-subtitle {
        font-size: 0.9rem;
    }

    .input-field-container input {
        font-size: 0.9rem;
    }

    .login-button {
        font-size: 0.9rem;
    }
}